:root {
    /* Font */
    font-size: 16px;

    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-icon: 4rem;
    --fs-xl: 8rem;

    /* TODO: import new font */
    font-family: Arial, Helvetica, sans-serif;

    /* color vars */
    /* color fallbacks */
    --background-color: #011C27;
    --text-color: #E7E5DF;
    --main-accent-color: #EB5E55;

    /* main theme (dark theme) */
    --background-color: hsl(197, 95%, 8%);
    --text-color: hsl(45, 14%, 89%);
    --main-accent-color: hsl(4, 79%, 63%);
    --alt-accent-color: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);

    --rounded: 9999px;
    --hover-highlight: inset 0 0 var(--rounded) var(--rounded) hsl(0  0% 100% / 0.2);
}

/* Mobile font */
@media only screen and (max-width: 769px) {
    :root {
        --fs-400: 0.5rem;
        --fs-500: 1rem;
        --fs-600: 1.5rem;
        --fs-700: 1.6rem;
        --fs-icon: 3rem;
        --fs-xl: 4rem;
    }
}

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-size: var(--fs-400); */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

a {
    color: inherit;
}

a:hover {
    box-shadow: var(--hover-highlight);
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-accent-color);
    border-radius: 1rem;
}

/* Utility classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.center {
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap-none {
    --gap: 0;
}

.gap-half {
    --gap: 0.5rem;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    padding: 0.5em 2em;
    border-radius: 0.5rem;
    border: 1px solid var(--main-accent-color);
    color: var(--text-color);
    background-color: var(--main-accent-color);

    transition: 
        color 500ms ease, 
        border-color 500ms ease, 
        background-color 500ms ease, 
        box-shadow 500ms ease;
}

.button:not(.inverted):hover {
    box-shadow: var(--hover-highlight);
}

.inverted {
    border: 1px solid var(--main-accent-color);
    color: var(--main-accent-color);
    background-color: var(--background-color);
}

.inverted:hover {
    /* border: 1px solid var(--main-accent-color); */
    color: var(--text-color);
    background-color: var(--main-accent-color);
}

.inverted[disabled] {
    cursor: default;
    /* gray button out as well */
    --main-accent-color: hsl(0, 0%, 50%);
    color: var(--main-accent-color);
    background-color: var(--background-color);
}

.debug {
    border: 1px solid red;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--main-accent-color);
    border-radius: var(--rounded);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    align-items: center;
    justify-content: center;
}

.modal {
    width: clamp(50vw, 50rem, 90vw);
    background-color: var(--background-color);
    color: var(--main-accent-color);
    border: 1px solid var(--main-accent-color);
    margin: auto;
    padding: 1rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.loading {
    position: fixed;

    /* center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    justify-content: end;
    align-items: center;
    padding-right: 0.5rem;
    background-color: var(--main-accent-color);
    color: var(--background-color);
    width: 100vw;
}

.mb-span {
    flex-wrap: wrap;
}

.mb-link:hover {
    box-shadow: none;
}

.mb-logo {
    cursor: pointer;
    padding: 0.5rem;
    background-color: #F5F3EB;
    border-radius: 1rem;
}

/* Landing page */
.landing {
    margin: 0 5vw 0 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header .title {
    font-size: var(--fs-xl);
}
.header .sub-title {
    /* padding-left: 2rem; */
    font-size: var(--fs-600);
}

.demo-img {
    border: 1px solid var(--main-accent-color);
    border-radius: 1rem;
    aspect-ratio: 16 / 9;
    max-width: 40vw;
}

.landing-section {
    font-size: var(--fs-500);
    width: 100%;
    min-height: 20vh;
    padding: 1rem 4rem;
}

.sub-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portal-bar {
    --gap: 0.5rem;
    align-items: center;
}
/*  */
.about {
    font-size: var(--fs-500);
    flex-wrap: wrap;
    justify-content: center;
}

.dev-card {
    --gap: 0.2rem;
}

.dev-img {
    aspect-ratio: 3 / 4;
    max-width: 15rem;
    border: 1px solid var(--main-accent-color);
    border-radius: 1rem;
}

.dev-links {
    font-size: var(--fs-600);
    flex-direction: column;
    justify-content: space-around;
}


.dev-text {
    max-width: 25rem;
    /* text-align: center; */
}

.links {
    flex-direction: column;
}

.link {
    justify-content: center;
    align-items: center;
    background-color: var(--main-accent-color);
    padding: 0.5rem 1rem;
    border-radius: var(--rounded);
    color: var(--text-color);

    transition: 
        color 500ms ease, 
        border-color 500ms ease, 
        background-color 500ms ease, 
        box-shadow 500ms ease;
}

.link:hover {
    box-shadow: var(--hover-highlight);
}

.icon {
    color: var(--text-color);
    font-size: var(--fs-icon);
    padding: var(--fs-400);
    background-color: var(--background-color);
    border-radius: var(--rounded);
}

.personal-icon {
    width: var(--fs-icon);
    height: var(--fs-icon);
    border-radius: var(--rounded);
}
/*  */

@media only screen and (max-width: 769px) {
    .landing-section {
        /* font-size: var(--fs-500);
        width: 100%;
        min-height: 20vh;
        padding: 1rem 4rem; */
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Draw page */
.draw-page {
    /* --gap: 1.5rem; */
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.toolbar {
    width: fit-content;
    height: 100vh;
}

.left {
    max-width: 10rem;
}

.right {
    max-width: 10rem;
}

.toolbar-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.toolbar-button {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

/* RangePicker */
.range-picker {
    flex-direction: column;
}

.range-track {
    cursor: pointer;
    accent-color: var(--main-accent-color);
    /* -webkit-appearance: none; */
    /* margin: 10px 0; */
    width: 100%;
}

.range-number {
    /* cursor: pointer; */
    accent-color: var(--main-accent-color);
    width: 10ch;
    padding: 0.2em 1em;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 1rem;
    background-color: hsl(0, 0%, 35%);
    color: var(--text-color);
}

/* END RangePicker styles */

/* ColorPicker */
.color-picker {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.color {
    cursor: pointer;
    border-radius: 0.25rem;
}

/* END ColorPicker Styles */

.option-select {
    cursor: pointer;
    width: 100%;
}

.draw-type {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    color: var(--main-accent-color);
    background-color: var(--background-color);
    border: 1px solid var(--main-accent-color);
    border-radius: 0.5rem;

    transition: color 500ms ease, background-color 500ms ease;
}

.draw-type:hover,
.draw-type:focus {
    color: var(--text-color);
    background-color: var(--main-accent-color);
}

.pen-cap {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    color: var(--main-accent-color);
    background-color: var(--background-color);
    border: 1px solid var(--main-accent-color);
    border-radius: 0.5rem;

    transition: color 500ms ease, background-color 500ms ease;

}

.pen-cap:hover,
.pen-cap:focus {
    color: var(--text-color);
    background-color: var(--main-accent-color);
}

.board {
    background-color: white;
    border: 1px solid var(--main-accent-color);
    cursor: crosshair;
    max-width: 1920px;
    max-height: 1080px;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.navigation {
    --gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--main-accent-color);
}

.nav-link {
    color: var(--text-color);
    padding: 0.5em 2em;
    margin: 0.3rem;
    border-radius: var(--rounded);

    transition: color 500ms ease, background-color 500ms ease, box-shadow 500ms ease;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    box-shadow: var(--hover-highlight);
}

.nav-link.active {
    color: var(--background-color);
}

.nav-user {
    cursor: pointer;
    max-width: 3rem;
    margin-left: auto;
    background-color: var(--text-color);
    border-radius: var(--rounded);
}

@media only screen and (max-width: 769px) {
    .draw-page {
        grid-template-columns: none;
        grid-template-areas:
            'board'
            'tools'
            'actions';
    }

    .toolbar {
        --gap: 0;
        flex-direction: row;
        flex-wrap: wrap;
        /* display: none; */
    }

    .left {
        grid-area: tools;
    }

    .right {
        grid-area: actions;
    }

    .board {
        grid-area: board;
    }
}

/* Gallery page */
.gallery {
    flex-direction: column;
    align-items: center;
    margin: 10vh 5vw 0 5vw;
}

.gallery-header {
    flex-direction: column;
    align-items: center;
}

.gallery-header .title {
    font-size: var(--fs-icon);
}

.gallery-header .sub-title {
    font-size: var(--fs-600);
}

.search-bar {
    --gap: 0;
    /* border: 1px solid var(--main-accent-color); */
    /* border-radius: 0.5rem; */
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.search-bar form {
    height: 100%;
}

.sb-item {
    height: 100%;
    border: none;
    color: var(--main-accent-color);
    background-color: var(--background-color);
}

.start {
    padding: 0 1rem;
    border: 1px solid var(--main-accent-color);
    border-radius: 0.5rem 0 0 0.5rem ;

    transition: color 500ms ease, background-color 500ms ease, box-shadow 500ms ease;
}

.start:hover,
.start:focus {
    color: var(--text-color);
    background-color: var(--main-accent-color);
}

.middle {
    padding-left: 1rem;
    border-top: 1px solid var(--main-accent-color);
    border-bottom: 1px solid var(--main-accent-color);
    
    transition: color 500ms ease, background-color 500ms ease;
}

.middle::placeholder {
    color: var(--main-accent-color);
}

.middle:hover,
.middle:focus {
    background-color: var(--text-color);
}

.end {
    border: 1px solid var(--main-accent-color);
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0 1rem;

    transition: color 500ms ease, background-color 500ms ease;

}

.end:hover,
.end:focus {
    /* outline: none; */
    color: var(--text-color);
    background-color: var(--main-accent-color);
}

.card {
    padding: 1rem;
    border-radius: 0.5rem;

    transition: box-shadow 500ms ease;

}

.card:hover {
    box-shadow: var(--hover-highlight);
}

.image-small {
    cursor: pointer;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.profile-small {
    max-width: 10rem;
    max-height: 10rem;
    background-color: var(--text-color);
    border-radius: var(--rounded);
}

.pointer {
    cursor: pointer;
}

.results {
    flex-direction: column;
    align-items: center;
}

.result-list {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 2vw;
}

.empty-set {
    grid-column: span 3;
}

@media only screen and (max-width: 769px) {
    .search {
        justify-content: center;
        align-items: center;
    }
}

.user-page {
    --gap: 4rem;
}

.gallery-item-header {
    margin: 4rem 0;
}

.back {
    margin: auto 0 auto auto;
    align-self: flex-end;
}

.gallery-item-header .title {
    font-size: var(--fs-icon);
}

.profile {
    --gap: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.profile-full {
    width: 20rem;
    height: 20rem;
    background-color: var(--text-color);
    border-radius: var(--rounded);
}

.works {
    --gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.image-content {
    grid-template-columns: 2fr 1fr;
}

.presentation {
    aspect-ratio: 16 / 9;
    width: 60vw;
}

.image-actions {
    grid-column: span 2;
}

/* Modal Component styles */
.portal {
    flex-direction: column;
}

.error-box {
    padding: 0.5em 1em;
    color: red;
    background-color: hsl(0 40% 50% / 0.5);
    border-radius: 1rem;
    border: 1px solid red;

}

.errors {
    margin-left: 1.1rem;
}

.hidden {
    display: none;
}

.login {
    flex-direction: column;
    align-items: center;
}

.signup {
    flex-direction: column;
    align-items: center;
}

.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.text-field {
    padding: 0.5rem 1rem;
    color: var(--main-accent-color);
    background-color: var(--background-color);
    border: 1px solid var(--main-accent-color);
    border-radius: 0.5rem;

    transition: color 500ms ease, background-color 500ms ease;
}

.text-field:hover,
.text-field:focus {
    color: var(--background-color);
    background-color: var(--text-color);
}

.image-preview {
    aspect-ratio: 16 / 9;
    width: 50vw;
    background-color: white;
    border: 1px solid var(--main-accent-color);
    border-radius: 1rem;
    overflow: hidden;
}

.image-input {
    justify-content: center;
    align-items: center;
}

.image-input-end {
    --gap: 0;
}

.image-name {
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-accent-color);
    border-radius: 0.5rem 0 0 0.5rem;
    color: var(--main-accent-color);
    background-color: var(--background-color);

    transition: color 500ms ease, background-color 500ms ease;
}

.image-name:hover,
.image-name:focus {
    color: var(--background-color);
    background-color: var(--text-color);
}

.image-suffix {
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--main-accent-color);
    border-right: 1px solid var(--main-accent-color);
    border-bottom: 1px solid var(--main-accent-color);
    border-radius: 0 0.5rem 0.5rem 0;

}

.image-uploader {
    display: none;
}

.iu-label::after {
    content: 'Choose File';
    cursor: pointer;
    font-size: var(--fs-400);
    text-align: center;
    padding: 0.5em 2em;
    margin: 0.5rem 0 0 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-accent-color);
    color: var(--text-color);
    background-color: var(--main-accent-color);

    transition: 
        color 500ms ease, 
        border-color 500ms ease, 
        background-color 500ms ease, 
        box-shadow 500ms ease;
}

.iu-label:hover.iu-label::after {
    box-shadow: var(--hover-highlight);
}

.check-field {
    accent-color: var(--main-accent-color);
}

.textarea-field {
    resize: none;
    padding: 0.5rem 1rem;
    color: var(--main-accent-color);
    background-color: var(--background-color);
    border: 1px solid var(--main-accent-color);
    border-radius: 0.5rem;

    transition: color 500ms ease, background-color 500ms ease;
}

.textarea-field:hover,
.textarea-field:focus {
    color: var(--background-color);
    background-color: var(--text-color);
}
/* END Modal Component styles */

.error-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
}